{% extends 'frontend/sidebar.html' %}

{% block title %} comment {% endblock %}



{% block content %}
   




    <section class="text-gray-600 body-font overflow-hidden">
      <div class="flex flex-row-reverse">
        <div>Logged in as {{ user.first_name }} {{ user.last_name }} | {{ user_group_name }}</div>
        </div>
      
      
        <a href="/project_list"><div class="px-3 bg-indigo-300 w-fit rounded-lg py-1 hover:bg-indigo-400">< back</div></a>
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -m-12">

            <div class="p-12 md:w-1/2 flex flex-col items-start">
              <span class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">COMMENT</span>
              {% if comments %}
              {% for comment in comments %}
              <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                  <p class="text-gray-700 text-base">{{ comment.content }}</p>
                  <p class="text-gray-500 text-sm">{{ comment.user.username }} - {{ comment.created_at }}</p>
                  {% if comment.user == request.user %}
                  <form action="{% url 'delete_comment' comment.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                          Delete
                      </button>
                  </form>
                  {% endif %}
                </div>
              {% endfor %}
              {% else %}
              <p>No comments yet. </p>
              {% endif %}
              <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                <span class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                </span>
                <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                </span>
              </div>
              <a class="inline-flex items-center">
                <span class="flex-grow flex flex-col pl-4">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-4">
                            {{ form.content.label_tag }}
                            {{ form.content }}
                        </div>
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Submit Comment
                        </button>
                    </form>
                  <span class="text-gray-400 text-xs tracking-widest mt-0.5"></span>
                </span>
              </a>
            </div>





            <div class="p-12 md:w-1/2 flex flex-col items-start">
              <span class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-xs font-medium tracking-widest">LOG</span>
             
              <p class="leading-relaxed mb-8"></p>
              {% for log in logs %}
              <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                  <p class="text-gray-700 text-base">{{ log.log_action }}</p>
                  <p class="text-gray-500 text-sm">{{ log.user.username }} - {{ log.created_date }}</p>
                  <p class="text-gray-600 text-sm">{{ log.comment }}</p>
                 
                  <form action="{% url 'delete_log' log.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        Delete
                    </button>
                </form>

         
              </div>
            {% empty %}
              <p>No log available.</p>
            {% endfor %}
            
              <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                
                <span class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                 
                </span>
                <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                  
                </span>
              </div>
              <a class="inline-flex items-center">
                
                <span class="flex-grow flex flex-col pl-4">
                  <span class="title-font font-medium text-gray-900"></span>
                  <span class="text-gray-400 text-xs tracking-widest mt-0.5"></span>
                </span>
              </a>
            </div>

          </div>
        </div>
      </section>
{% endblock %}
