{% extends 'frontend/sidebar.html' %}

{% block content %}

<div id="comments-container"></div>


<form id="comment-form">
    <label for="comment">Leave a comment:</label><br>
    <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br>
    <input type="submit" value="Submit">
</form>




<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include custom JavaScript code -->
<script src="js/custom.js"></script>

<script>


$(document).ready(function() {
    // Listen for form submission
    $('#comment-form').submit(function(e) {
        e.preventDefault();
        const comment = $('#comment').val();
        // Send the comment to the server using Ajax
        $.ajax({
            url: '/add-comment/',
            type: 'POST',
            data: {
                'comment': comment,
                'project_id': {{ project.id }}
            },
            dataType: 'json',
            success: function(data) {
                // Append the new comment to the comments container
                const commentElement = $('<div>').text(data.comment);
                $('#comments-container').append(commentElement);
                // Clear the form input
                $('#comment').val('');
            },
            error: function(xhr, status, error) {
                console.log(error);
            }
        });
    });
});

</script>
{% endblock %}
