{% extends 'frontend/sidebar.html' %}


{% block title %} Delete Project {% endblock %}

{% block content %}

<form method="POST" class="text-gray-900 body-font">
    <div class="container px-5 py-5 mx-auto flex flex-wrap items-center justify-center">

    <div class="w-fit px-32 py-10 rounded-2xl shadow mt-10 mt-0">
    <div class="flex flex-row justify-center">
        <h1 class="text-3xl font-medium title-font mb-5">Delete Project</h1>
        </div>
  

        
       <h2 class="mb-10 ">Are you sure you want to delete {{ project.name }} project</h2>
       {% csrf_token %}
        <div class="flex justify-center ">
            <button type="submit" class="bg-red-500 py-2 px-10 rounded-md font-medium hover:bg-red-700 hover:text-black">Delete Project</button>
        </div>

        <div class="flex justify-center mt-10">
            <a href="{% url 'project_list' %}" class="bg-blue-400 py-2 px-10 rounded-md font-medium hover:bg-blue-300 hover:text-blue-700">Cancel</a>
        </div>

</div>
</div>
</div>
</div>
</form>

{% endblock %}

