<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>Delete Project</title>
</head>
<body>

<!-- navbar -->
<header class="text-gray-600 body-font border-b-2">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex little-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img class="w-32 h-30 p-2 mb-2 rounded-3xl" src="../static/css/dist/logo.png">
        <span class="ml-3 text-xl">SENIOR DEVELOPMENT PROJECT</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap text-xl font-medium">
        <button class="ml-2 mr-5 hover:text-gray-400">Logout</button>
      </nav>
    </div>
</header>

<form class="text-gray-900 body-font">
    <div class="container px-5 py-5 mx-auto flex flex-wrap items-center justify-center">

    <div class="w-fit px-32 py-10 rounded-2xl shadow mt-10 mt-0">
    <div class="flex flex-row justify-center">
        <h1 class="text-3xl font-medium title-font mb-5">Delete Project</h1>
        </div>
  

        
       <h2 class="mb-10 ">Are you sure you want to delete project...!</h2>

        <div class="flex justify-center ">
            <button class="bg-red-500 py-2 px-10 rounded-md font-medium hover:bg-red-700 hover:text-black">Delete Project</button>
        </div>

        <div class="flex justify-center mt-10">
            <button class="bg-blue-400 py-2 px-10 rounded-md font-medium hover:bg-blue-300 hover:text-blue-700">Cancel</button>
        </div>

</div>
</div>
</div>
</div>
</form>



</body>
</html>