{% extends 'frontend/sidebar.html' %}

{% block title %} My Profile {% endblock %}

{% block content %}

<form class="text-gray-900 body-font">
    <div class="container px-5 mx-auto flex flex-wrap items-center justify-center">

    <div class="w-screen px-10 py-10 rounded-2xl shadow mt-10 mt-0 bg-gray-100">
    <div class="flex flex-row justify-center ">
        <h1 class="text-3xl font-medium title-font mb-8">My Account</h1>
        </div>
    <label class="block">

    
        <section class="text-gray-600 body-font overflow-hidden shadow-lg rounded-lg bg-white mb-2">
            <div class="container px-5 mx-auto">
              <div class="flex flex-wrap -m-12">
               
                <div class="p-12 md:w-1/2 flex flex-col items-start">
                  <h3 class="sm:text-xl text-xl title-font font-bold text-gray-900 mt-4 mb-4">Username</h3>
                  <h3 class="sm:text-xl text-xl title-font font-bold text-gray-900 mt-4 mb-4">Name</h3>
                   <div class="mt-auto w-full">
                   </div>
                </div>

                <div class="p-12 md:w-1/2 flex flex-col items-end">
                  <h3 class="sm:text-xl text-xl title-font text-gray-900 mt-4 mb-4">{{ request.user.username }}</h3>
                  <h3 class="sm:text-xl text-xl title-font text-gray-900 mt-4 mb-4 ">{{ request.user.first_name }} {{ request.user.last_name }}</h3>
                  <div class=" mt-auto w-full">
                  </div>
                </div>

              </div>
            </div>
          </section>

          <section class="text-gray-600 body-font overflow-hidden shadow-lg rounded-lg bg-white  mb-2">
            <div class="container px-5 mx-auto">
              <div class="flex flex-wrap -m-12">
               
                <div class="p-12 md:w-1/2 flex flex-col items-start">
                  <h3 class="sm:text-xl text-xl title-font font-bold text-gray-900 mt-4 mb-4">Email</h3>
                   <div class="mt-auto w-full">
                   </div>
                </div>

                <div class="p-12 md:w-1/2 flex flex-col items-end">
                  <h3 class="sm:text-xl text-xl title-font text-gray-900 mt-4 mb-4">{{ request.user.email }}</h3>
                    <div class=" mt-auto w-full">
                  </div>
                </div>

              </div>
            </div>
          </section>


          <section class="text-gray-600 body-font overflow-hidden shadow-lg rounded-lg bg-white  mb-2">
            <div class="container px-5 mx-auto">
              <div class="flex flex-wrap -m-12">
               
                <div class="p-12 md:w-1/2 flex flex-col items-start">
                  <h3 class="sm:text-xl text-xl title-font font-bold text-gray-900 mt-4 mb-4">Role</h3>
                   <div class="mt-auto w-full">
                   </div>
                </div>

                <div class="p-12 md:w-1/2 flex flex-col items-end">
                  <h3 class="sm:text-xl text-xl title-font text-gray-900 mt-4 mb-4">
                    {{ user_group_name }}</h3>
                    <div class=" mt-auto w-full">
                  </div>
                </div>

              </div>
            </div>
          </section>


        <div class="flex justify-center pt-10">
        <a href="/update_my_profile" class="bg-indigo-400 py-2 px-10 rounded-md font-medium hover:bg-indigo-300 hover:text-indigo-700">Edit</a>  
      </div>
    </label> 
</div>
</div>
</div>
</div>
</form>


{% endblock %}