
{% extends 'frontend/sidebar.html' %}

{% block title %} Sub Task List {% endblock %}

{% block content %}




<div >

<div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">

    
    <div class="flex flex-row-reverse">
        <div>Logged in as {{ user.first_name }} {{ user.last_name }} | {{ user_group_name }}</div>
    </div>
    
    <div class="align-middle rounded-tl-lg rounded-tr-lg inline-block w-full py-4 overflow-hidden bg-white px-12">
       
        <section class="text-gray-600 body-font mb-10 ">
            <div class="container pl-10">
              <div class="flex mx-auto flex-wrap mb5">
                <a href="{% url 'project_list' %}" class="hover:bg-gray-100 hover:text-indigo-500 hover:border-indigo-500 sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider">
                  <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 mr-3" viewBox="0 0 24 24">
                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                  </svg>-->Project: {{ project.name }}
                </a>
                <a  href="{% url 'task_list' project_id=project_id %}" class="hover:bg-gray-100 hover:text-indigo-500 hover:border-indigo-500 sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider">
                  <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 mr-3" viewBox="0 0 24 24">
                    <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                  </svg>-->Task: {{ task.title }}
                </a>
                <a  class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium bg-gray-100 inline-flex items-center leading-none border-indigo-500 text-indigo-500 tracking-wider rounded-t">
                    <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 mr-3" viewBox="0 0 24 24">
                      <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                    </svg>-->Sub Task List
                  </a>

                    
               
              </div>
            </div>

        </section>

    <div>
  


            {% if is_team_member or is_team_leader %}
            <div><a href="{% url 'create_sub_task' task_id=task.id %}" class="rounded-md text-gray-600 bg-blue-300 py-3 px-2 font-medium text-sm hover:bg-indigo-300 hover:text-slate-400">Create New Sub Task</a></div>
            {% endif %}
        </div>
    </div>
	{% if sub_tasks %}


    <div class="data-container overflow-y-auto">
        <div class="font-medium text-xl ml-6 mt-10 text-gray-600">Milestone</div>
        <div class="overflow-y-auto">
        <div id="see_chart" data-project-id="{{project_id}}" data-task-id="{{task_id}}"></div>
        <br>
        </div>
        <div class="h-72">
          <span class="flex inline-flex"><h1 class="text-gray-400 ">Today date: &nbsp; </h1><h2 id="current_date" class="font-medium text-gray-500"></h2></span>
            <div id="chart_div"></div>
        </div>
        
        </div>
        
    
	<h1 class="font-medium text-2xl text-gray-500 pb-10 ml-14 mt-10 ">Sub Task List</h1>


    <!-- Start Gantt Chart -->


    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    
    
    <script>
        $(document).ready(function() {
          var currentDate = new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });
          $('#current_date').text(currentDate);
      
          const projectid = $('#see_chart').attr('data-project-id');
          const taskid = $('#see_chart').attr('data-task-id');
         
              google.charts.load('current', {'packages':['gantt']});
              google.charts.setOnLoadCallback(drawChart);
      
              function drawChart() {
         
                console.log('Drawing chart for project', projectid, 'and task', taskid);

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'SubTask ID');
                data.addColumn('string', 'SubTask Name');
                data.addColumn('date', 'Start Date');
                data.addColumn('date', 'End Date');
                data.addColumn('number', 'Duration');
                data.addColumn('number', 'Percent Complete');
                data.addColumn('string', 'Dependencies');
      
                // get data from server
                $.ajax({
                    url: `/get-sub-tasks/${projectid}/${taskid}`,
                    dataType: 'json',
                    success: function(jsonData) {
                      console.log('Received data', jsonData);
                        // format data for chart
                        var rows = [];
                        $.each(jsonData, function(i, subtask) {
                            rows.push([
                            subtask.SubTask_ID,
                            subtask.SubTask_Name,
                            new Date(subtask.Start_Date),
                            new Date(subtask.End_Date),
                            subtask.Duration,
                            subtask.Percent_Complete,
                            null,
                            ]);
                        });
                        data.addRows(rows);
                        console.log('Formatted data', rows);
      
                        var trackHeight = 50;
                        // set chart options
                        var options = {
                            height: data.getNumberOfRows() * trackHeight,
                            width: '100%',
                            gantt: {
                              barStyle: {
                                stroke: 'black',
                                strokeWidth: 1,
                                fill: '#f9c4d7',
                            },
                          },
                        };
      
                        // create and draw chart
                        console.log('Creating chart');
                        var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
                        chart.draw(data, options);
                   

                        // draw current date line
                        var now = google.visualization.Gantt.now();
                        var xCoord = chart.getChartLayoutInterface().getXLocation(now);
                        chart.drawLine(xCoord, 0, xCoord, chart.getChartHeight(), { style: 'stroke-dasharray: 4,4;', color: '#333', width: 1.5 });
                      },
                    

                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }
                });
              }
          });
      
      </script>
{% endblock %}

<!-- End Gantt Chart -->







    <div class="text-indigo-500 font-bold bg-gray-200 rounded w-fit px-3 py-1 mb-2">
       Sub Task Completed:  {{ num_completed_tasks }} / {{ sub_tasks|length }}
        </div>
    <div class="align-middle inline-block min-w-full shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
	
		<table class="min-w-full">
            <thead>
                <tr>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">ID</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Title</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Description</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Start Date</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">End Date</th>
					<!-- <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Created by</th> -->
					<th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Status</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider"></th>
                  
                </tr>
            </thead>
            <tbody class="bg-white">
                {% for sub_task in sub_tasks %}
                    <tr>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                            <div class="flex items-center">
                                <div>
                                    <div class="text-sm leading-5 text-gray-800">{{ sub_task.id }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                            <div class="text-sm leading-5 text-blue-900">{{ sub_task.title }}</div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ sub_task.description }}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">  
                            {{ sub_task.start_date }}
                        </td>
						<td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">  
                            {{ sub_task.end_date }}
                        </td>
                    
						<!-- <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-blue-900 text-sm leading-5">{{ sub_task.created_by }}</td> -->
						<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-blue-900 text-sm leading-5">
								{% if sub_task.completed %}
									<span class="text-green-500">Completed</span>
								{% else %}
									<span class="text-yellow-500">Incomplete</span>
								{% endif %}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-blue-900 text-sm leading-5">        
                            {% if is_team_member or is_team_leader %}                   
                            <a href="{% url 'update_sub_task' project_id=project.id task_id=task.id sub_task_id=sub_task.pk %}">
                                <button class="px-5 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none">Edit</button>
                            </a> 
                            {% endif %}
                        </td>
                        
              </tr>
              {% endfor %}
            </tbody>
        </table>
		
</div>
</div>

    </div>
	
</div>
</div>
</div>


{% else %}
<p>No subtask created yet.</p>


 
{% endif %}



{% endblock %}
