{% extends 'frontend/sidebar.html' %}

{% block title %} Team Lists {% endblock %}

{% block content %}

<div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">
    <div class="flex flex-row-reverse">
        <div>Logged in as {{ user.first_name }} {{ user.last_name }} | {{ user_group_name }}</div>
        </div>
    <div class="align-middle rounded-tl-lg rounded-tr-lg inline-block w-full py-4 overflow-hidden bg-white px-12">
       
        <h1 class="font-medium text-2xl text-gray-500 pb-10">Team List</h1>
     
        <div class="flex justify-between">
            <div class="inline-flex  w-7/12 px-2 lg:px-6 h-12 ">
                
            </div>
            {% if can_create_team %}
            <div class="flex flex-row-reverse py-2"><a href="/create_team" class="rounded-md text-gray-600 bg-blue-300 py-3 px-2 font-medium text-sm hover:bg-indigo-300 hover:text-slate-400">Create New Team</a></div>
            {% endif %}
            </div>
        </div>

    {% if teams %}
    <div class="align-middle inline-block min-w-full shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
        <table class="min-w-full">
            <thead>
                <tr>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">ID</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Team Name</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Advisor</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Student</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Created At</th>
                  
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider"></th>
                  
                </tr>
            </thead>
            <tbody class="bg-white">
                {% for team in teams %}
                    <tr>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                            <div class="flex items-center">
                                <div>
                                    <div class="text-sm leading-5 text-gray-800">{{ team.id }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                            <div class="text-sm leading-5 text-blue-900">{{ team.name }}</div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ team.team_leader }}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">  
                            {% for membership in team.membership_set.all %}
                            {{ membership.user }},
                            {% endfor %}
                        </td>
                       
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-blue-900 text-sm leading-5">{{ team.created_date}}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-blue-900 text-sm leading-5">        
                            {% if can_update_team %}                   
                            <a href="{% url 'update_team' pk=team.pk%}">
                                <button class="px-5 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none">Edit</button>
                            </a> 
                            {% endif %}
                        </td>
                        
              </tr>
              {% endfor %}
            </tbody>
        </table>

  
</div>

</div>
    </div>
    
</div>

  </section>
  {% else %}
  
  <p>No team yet. </p>

  {% endif %}

{% endblock %}
