{% extends 'frontend/sidebar.html' %}

{% block title %} Update Sub Task {% endblock %}

{% block content %}

        <section class="text-gray-600 body-font">
          <div class="flex flex-row-reverse">
            <div>Logged in as {{ user.first_name }} {{ user.last_name }} | {{ user_group_name }}</div>
            </div>
          
            <div class="container px-5 py-1 mx-auto">
              <div class="flex flex-wrap -m-29">

                <div class="p-10 md:w-1/2 flex flex-col items-start">

                  <span class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Update Sub Task</span>
                <form method="POST" enctype="multipart/form-data" action="{% url 'update_sub_task' project_id=project_id task_id=task_id sub_task_id=sub_task.id %}">
                {% csrf_token %}
                  <div class="pt-16">
                    <label for="{{ form.title.auto_id }}" class="leading-7 text-sm text-gray-600">Sub Task Name</label>
                    <input type="text" id="{{ form.title.auto_id }}" 
                    name="{{ form.title.html_name }}" 
                    value="{{ form.title.value|default:''}}"
                    {% if task_form.title.field.required %}required{% endif %}
                    placeholder="Write a Document" 
                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-10 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out">
                    </input>
                    {% if form.title.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ form.title.errors.as_text }}</p>
                    {% endif %}
                  </div>


                  <div class="pt-6">
                    <label for="{{ form.start_date.auto_id }}" class="leading-7 text-sm text-gray-600">Start Date</label>
                    {{ form.start_date }} 
                    {% if task_form.start_date.field.required %}required{% endif %}
                 </div>
                  {% if form.start_date.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ form.start_date.errors.as_text }}</p>
                    {% endif %}

                    <div class="pt-6">
                        <label for="{{ form.end_date.auto_id }}" class="leading-7 text-sm text-gray-600">End Date</label>
                        {{ form.end_date }} 
                        {% if task_form.end_date.field.required %}required{% endif %}
                      </div>
                      {% if form.end_date.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ form.end_date.errors.as_text }}</p>
                        {% endif %}

        

                  <div class="pt-6">
                    <label for="{{ form.description.auto_id }}" class="leading-7 text-sm text-gray-600">Description</label>
                    <input type="message" id="{{ form.description.auto_id }}" 
                    name="{{ form.description.html_name }}" 
                    value="{{ form.description.value|default:''}}"
                    {% if task_form.description.field.required %}required{% endif %}
                    class="w-full h-20 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                  </div>
                  {% if form.description.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ form.description.errors.as_text }}</p>
                    {% endif %}



                  <div class="mt-8">
                    <button type="submit" class="bg-gray-900 rounded px-4 py-1 text-gray-200">
                        Update Sub Task
                    </button>
                  </div>

                  <div class="mt-10">
                    <a href="{% url 'delete_sub_task' project_id=project_id task_id=task_id sub_task_id=sub_task.id %}" class="bg-red-500 rounded px-4 py-1 text-white">
                      Delete
                    </a>

                  </div>

                </div>
         

                <div class="p-12 md:w-1/2 flex flex-col items-start">
                    
                  <h2 class="sm:text-2xl text-xl title-font font-medium text-gray-900 mb-4">Status</h2>
                  <p class="leading-relaxed mb-8"></p>
               
                    <div class="pt-4">
                    <div class="inline-block py-1 px-2 rounded bg-gray-100 text-gray-500 text-xs font-medium tracking-widest">Status</div>
                    </div>

                    <div class="pt-6">
                      <label for="{{ form.completed.auto_id }}" class="leading-7 text-md text-gray-600">Completed</label>
                      <input type="checkbox" id="{{ form.completed.auto_id }}"
                             name="{{ form.completed.html_name }}"
                             {% if form.completed.value %}checked{% endif %}
                             class="form-check-input p-2">
                  </div>
                  {% if form.completed.errors %}
                      <p class="text-red-500 text-sm mt-1">{{ form.completed.errors.as_text }}</p>
                  {% endif %}

                </form>
                </div>
            </div>

   
{% endblock %}