{% extends 'frontend/sidebar-h-screen.html' %}

{% block title %} Update User Password {% endblock %}

{% block content %}

<div class="flex flex-1 items-center justify-center">
<div class="text-gray-900 body-font">
    <div class="container px-5 py-5 mx-auto flex flex-wrap items-center justify-center">
    <div class="w-full px-32 py-10 rounded-2xl shadow mt-10 mt-0">
        <div class="flex flex-row justify-center">
            <h1 class="text-3xl font-medium title-font mb-5">Update User Password</h1>
        </div>
        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-4">
                <label class="block text-sm font-medium text-slate-700" for="new_password1">New Password</label>
                <input type="password"
                       name="new_password1"
                       id="new_password1"
                       class="transition-colors duration-300 ease-in mt-1 pl-2 px-10 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-indigo-500 focus:ring-sky-500 w-full rounded-md sm:text-md focus:ring-1"
                       required
                       placeholder="New Password" />
            </div>
            
            <div class="mb-4">
                <label class="block text-sm font-medium text-slate-700" for="new_password2">Confirm New Password</label>
                <input type="password"
                       name="new_password2"
                       id="new_password2"
                       class="transition-colors duration-300 ease-in mt-1 pl-2 px-10 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-indigo-500 focus:ring-sky-500 w-full rounded-md sm:text-md focus:ring-1"
                       required
                       placeholder="Confirm New Password" />
            </div>
            
            
        <div class="flex justify-center mb-10">
        <button type='submit' class="bg-indigo-400 py-2 px-10 rounded-md font-medium hover:bg-indigo-300 hover:text-indigo-700">Save</button>
        </div>

        </form>

        
        <div class="flex justify-center mb-10">
        <a href="/members">    <button type='submit' class="bg-blue-500 py-2 px-10 rounded-md font-medium hover:bg-blue-300 hover:text-blue-700">Cancel</button></a>
        </div>
  
    </div>
    </div>

</div>
</div>



{% endblock %}
