{% extends 'main/base.html' %}

{% block content %}
<br>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  
  {% if can_create_project %}
  <a href="/create_project" class="btn btn-primary"> Create Project </a>
  {% endif %}

   <br>

  <h1>Project Manager</h1>
<br><br>
  <div class="row">
    <div class="col-md-3">
      <h3>Projects</h3>
      <ul class="list-unstyled">
        {% for x in projects %}
 
          <li>
            <br>
            <li><a href="{% url 'task_list' x.id %}">More task</a></li>
            project name: {{ x.name }}
            <br>
            description: {{ x.description }}
            <br>
            start date: {{ x.start_date }}
            <br>
            end date: {{ x.end_date }}
            <br>
            status: {{ x.status }} 
            <br>
            {% if x.team %}
              team: {{ x.team.name }}
              <br>
            {% else %}
              team: No team assigned
              <br>
            {% endif %}
            
            created by: {{ x.created_by }}
               <br>
    
            <a href="{% url 'project_details' project_id=x.pk %}">More Details</a>
           
          </li>

        {% empty %}
          <p>No projects found.</p>
        {% endfor %}
      </ul>
  
    </div>
  </div>
{% endblock %}
