{% extends 'main/base.html' %}
{% block title %} Project's Task {% endblock %}

{% load crispy_forms_tags %}
{% block content %} 

<h1>Task List</h1>
 
<h3>Project Name: {{ project.name}}</h3>
<p>description: {{ project.description }}</p>
<p>status: {{ project.status }}</p>
 
{% if is_team_member or is_team_leader %}
    <a href="{% url 'create_task' project_id=project.id %}">Create Task</a>
{% endif %}


{% if tasks %}
    <h1>Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li>
                title:{{ task.title }} 
            </li>
            <li>
                description: {{ task.description }}
            </li>
            <li>
                assignee: {{ task.assignee }}
            </li>
            <li>
                Start Date: {{ task.start_date }}
            </li>
            <li>
                End Date: {{ task.end_date }}
            </li>
            <li>
                created by: {{ task.created_by }}
            </li>
            {% if is_team_member or is_team_leader %}
            <a href="{% url 'update_task' project_id=project.id task_id=task.id %}">update</a>
            {% endif %}

            <ul>
            
            <li>
                <a href="{% url 'sub_task_list' project_id=project.id task_id=task.id %}">View Sub Tasks</a>
            </li>

            </ul>

            <br><br>
        {% endfor %}
      
    
        
    </ul>
{% else %}
<p>No Tasks found.</p>
{% endif %}




<a class="btn btn-primary" href="/project_list" role="button">back</a> 

<div id="see_chart" data-project-id="{{project.id}}" 
    style="width: 80px; height: 25px; background-color: skyblue; cursor: pointer; "
>see chart</div><br>

<div id="chart_div"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    $(document).ready(function() {
      $('#see_chart').click((e) => {
          const id = e.target.getAttribute('data-project-id');
  
          google.charts.load('current', {'packages':['gantt']});
          google.charts.setOnLoadCallback(drawChart);
  
          function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task ID');
            data.addColumn('string', 'Task Name');
            data.addColumn('date', 'Start Date');
            data.addColumn('date', 'End Date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'Percent Complete');
            data.addColumn('string', 'Dependencies');
  
            // get data from server
            $.ajax({
                url: `/get-tasks/${id}/`,
                dataType: 'json',
                success: function(jsonData) {
                    console.log(jsonData)
                    // format data for chart
                    var rows = [];
                    $.each(jsonData, function(i, task) {
                        rows.push([
                        task.Task_ID,
                        task.Task_Name,
                        new Date(task.Start_Date),
                        new Date(task.End_Date),
                        task.Duration,
                        task.Percent_Complete,
                        null,
                        ]);
                    });
                    data.addRows(rows);
  
                    // set chart options
                    var options = {
                        height: 275
                    };
  
                    // create and draw chart
                    var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
                    chart.draw(data, options);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
          }
      });
    });
  </script>
{% endblock %}
 

